<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Bebe Cardio</title>

</head>
<body>
  <div class="login">
  	<h1>Iniciar sesión</h1>
      <form method="post" action="./PHP/login.php">
      	<input type="text" name="u" placeholder="Usuario" required="required" />
          <input type="password" name="p" placeholder="Contraseña" required="required" />
          <button type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
      </form>
  </div>
</body>
</html>
